/* #modal-close-btn {
    width: 100%;
    margin-bottom: 20px;
  } */
  /* @media screen and (max-width: 767px) {
    #modal-close-btn {
      width: 50px;
  height: 50px;
  background-color: black;
  top: 700px;
  left: 50px;
    }
  }  */

#modal-close-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 570px;
  left: 1120px;
  background-color: #EB5757;
  transform: rotate(45deg);
  border-radius: 50%;
  color: white;
}

.test{
  position: relative;
}
.test2{
  position: absolute;
  bottom: 250px;
  left: 400px;
}
.btn-primary{
  background-color: #EB5757;
}

