
#modal-close-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 570px;
  left: 1120px;
  background-color: #EB5757;
  transform: rotate(45deg);
  border-radius: 50%;
  color: white;
}

.modal-img-div{
  position: relative;
}
.modal-btn-div{
  position: absolute;
  bottom: 250px;
  left: 400px;
}
.btn-primary{
  background-color: #EB5757;
  border-color: #EB5757;
}

